[alias]
    fa = fetch --all --prune
    lo = log --pretty=format:'%C(green)%h %C(reset)-%C(auto)%d %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --graph --color --date-order
    la = log --pretty=format:'%C(green)%h %C(reset)-%C(auto)%d %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --graph --color --date-order --all
    s = status
[core]
    editor = vim
    excludesfile = ~/.gitignore
    filemode = true
[status]
	submodulesummary = 1
