[alias]

    a = add
    aa = add .

    b = branch
    bd = branch -D

    c = commit
    ca = commit --amend
    cd = commit --message "Development"

    ch = checkout
    cha = checkout HEAD .
    chb = checkout origin/master -B
    chbm = checkout origin/master -B master

    cfal = config --list
    cfgl = config --global --list
    cfll = config --local --list

    df = diff HEAD
    df1 = diff HEAD~1
    df1n = diff --name-only HEAD~1

    fa = fetch --all --prune

    la = log --pretty=format:'%C(green)%h %C(reset)-%C(auto)%d %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --graph --color --date-order --all
    lg = log --pretty=format:'%C(green)%h %C(reset)-%C(auto)%d %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --graph --color --date-order --all -20
    lo = log --pretty=format:'%C(green)%h %C(reset)-%C(auto)%d %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --graph --color --date-order

    pfo = push -f origin
    pfom = push -f origin master
    pom = push origin master

    ra = rebase --abort
    rc = rebase --continue
    ro = rebase --onto
    rom = rebase origin/master

    s = status

[core]
    editor = vim
    excludesfile = ~/.gitignore
    filemode = true
